<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-900 box-border flex items-center justify-center text-white h-dvh flex-col">
    <h1 class="my-10 text-9xl font-bold">CONTACT</h1>
    <p class="text-lg w-1/2 text-center text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia est obcaecati consequatur rem, tenetur suscipit delectus dolore minima iusto nisi quidem quisquam sunt, magnam ut nobis ullam expedita unde aut?</p>
    <!-- <a href="/index.html">Index</a>
    <a href="/about.html">About</a>
    <a href="/contact.html">Contact</a> -->
</body>
</html>